@require '../../node_modules/rupture/rupture/index.styl'

rupture.scale = 0 640px 960px 1280px 1600px 1920px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl' 'ml'
rupture.anti-overlap = -1px
$scale-names = rupture.scale-names

$ptr = 'PT Rouble Sans', sans-serif

$baseFontColor = #151518
$baseLinkColor = #0000aa
$baseRedColor = #e6252d

$imgHref = '/assets/images/'
$imgPath = '../../assets/images/'

cubic = cubic-bezier(.17,.67,.83,.67)

$horizontalPadding = 30px 30px 40px 50px 60px 80px

$svgicon-sample_width = 20px