
    $svgicon-arrow_width = 1
    $svgicon-arrow_height = 0.296875

    $svgicon-down-arrow_width = 15.334
    $svgicon-down-arrow_height = 15.334

    $svgicon-grid-col_width = 18.5
    $svgicon-grid-col_height = 18.5

    $svgicon-grid-row_width = 16
    $svgicon-grid-row_height = 16

    $svgicon-home_width = 16
    $svgicon-home_height = 16

    $svgicon-mail_width = 14.93334375
    $svgicon-mail_height = 14.93334375

    $svgicon-phone_width = 12
    $svgicon-phone_height = 12

    $svgicon-search_width = 15.99996875
    $svgicon-search_height = 15.99996875

    $svgicon-up-arrow_width = 15.32884375
    $svgicon-up-arrow_height = 15.32884375
