
   .icon.icon-arrow {
         width: 1em;
         height: 0.296875em;
     }

   .icon.icon-down-arrow {
         width: 15.334em;
         height: 15.334em;
     }

   .icon.icon-grid-col {
         width: 18.5em;
         height: 18.5em;
     }

   .icon.icon-grid-row {
         width: 16em;
         height: 16em;
     }

   .icon.icon-home {
         width: 16em;
         height: 16em;
     }

   .icon.icon-mail {
         width: 14.93334375em;
         height: 14.93334375em;
     }

   .icon.icon-phone {
         width: 12em;
         height: 12em;
     }

   .icon.icon-search {
         width: 15.99996875em;
         height: 15.99996875em;
     }

   .icon.icon-up-arrow {
         width: 15.32884375em;
         height: 15.32884375em;
     }
