for $name, $i in rupture.scale-names
    .v-{$name}, .v-{$name}-inline-block, .v-{$name}-inline, .v-{$name}-tablecell, .v-{$name}-flex
        display none !important
for $name, $i in rupture.scale-names
    +at($name)
        .v-{$name}
            display block !important
        .v-{$name}-inline
            display inline !important
        .v-{$name}-inline-block
            display inline-block !important
        .v-{$name}-tablecell
            display table-cell !important
        .v-{$name}-flex
            display flex !important
        table.v-{$name}
            display table !important
        tr.v-{$name}
            display table-row !important
        th.v-{$name}, td.v-{$name}
            display table-cell !important
        .h-{$name}
            display none !important
.container
    set('padding-x', divide($horizontalPadding, 2))
    margin 0 auto
    position relative
.row
    set('margin-x', neg(divide($horizontalPadding, 2)))
    display flex
    justify-content flex-start
.multi
    flex-wrap wrap
.col
    min-height 1px
    set('padding-x', divide($horizontalPadding, 2))

bootstrap-cols($name)
    .col-{$name}-1
        width 8.33333%
    .col-{$name}-2
        width 16.66666%
    .col-{$name}-3
        width 25%
    .col-{$name}-4
        width 33.33333%
    .col-{$name}-5
        width 41.66666%
    .col-{$name}-6
        width 50%
    .col-{$name}-7
        width 58.33333%
    .col-{$name}-8
        width 66.66666%
    .col-{$name}-9
        width 75%
    .col-{$name}-10
        width 83.33333%
    .col-{$name}-11
        width 91.66666%
    .col-{$name}-12
        width 100%
    .col-{$name}
        width auto
        
    .offset-{$name}-0
        margin-left 0%
    .offset-{$name}-1
        margin-left 8.33333%
    .offset-{$name}-2
        margin-left 16.66667%
    .offset-{$name}-3
        margin-left 25%
    .offset-{$name}-4
        margin-left 33.33333%
    .offset-{$name}-5
        margin-left 41.66667%
    .offset-{$name}-6
        margin-left 50%
    .offset-{$name}-7
        margin-left 58.33333%
    .offset-{$name}-8
        margin-left 66.66667%
    .offset-{$name}-9
        margin-left 75%
    .offset-{$name}-10
        margin-left 83.33333%
    .offset-{$name}-11
        margin-left 91.66667%
    .offset-{$name}-12
        margin-left 100%
        
    .order-{$name}-1
        order 1
    .order-{$name}-2
        order 2
    .order-{$name}-3
        order 3
    .order-{$name}-4
        order 4
    .order-{$name}-5
        order 5
    .order-{$name}-6
        order 6
    .order-{$name}-7
        order 7
    .order-{$name}-8
        order 8
    .order-{$name}-9
        order 9
    .order-{$name}-10
        order 10
    .order-{$name}-11
        order 11
    .order-{$name}-12
        order 12
        
for $name, $i in rupture.scale-names
    if $name == 'xs'
        bootstrap-cols($name)
    else
        +above($name)
            bootstrap-cols($name)
    .col-{$name}-1,
    .col-{$name}-2,
    .col-{$name}-3,
    .col-{$name}-4,
    .col-{$name}-5,
    .col-{$name}-6,
    .col-{$name}-7,
    .col-{$name}-8,
    .col-{$name}-9,
    .col-{$name}-10,
    .col-{$name}-11,
    .col-{$name}-12,
    .col-{$name}
        min-height 1px
        set('padding-x', divide($horizontalPadding, 2))