for $name, $i in rupture.scale-names
    .v-{$name}, .v-{$name}-inline-block, .v-{$name}-inline, .v-{$name}-tablecell, .v-{$name}-flex
        display none !important
for $name, $i in rupture.scale-names
    +at($name)
        .v-{$name}
            display block !important
        .v-{$name}-inline
            display inline !important
        .v-{$name}-inline-block
            display inline-block !important
        .v-{$name}-tablecell
            display table-cell !important
        .v-{$name}-flex
            display flex !important
        table.v-{$name}
            display table !important
        tr.v-{$name}
            display table-row !important
        th.v-{$name}, td.v-{$name}
            display table-cell !important
        .h-{$name}
            display none !important
.container
    set('padding-x', divide($horizontalPadding, 2))
    margin 0 auto
    position relative
.row
    set('margin-x', neg(divide($horizontalPadding, 2)))
    display flex
    justify-content flex-start
.multi
    flex-wrap wrap
.col
    min-height 1px
    set('padding-x', divide($horizontalPadding, 2))

bootstrap-cols($name)
    for num in (1..12)
        .col-{$name}-{num}
            width unit(100/12*num, '%')
        .offset-{$name}-{num}
            margin-left unit(100/12*num, '%')
        .order-{$name}-{num}
            order num
    .col-{$name}-2_4
        width unit(100/12*2.4, '%')
    .col-{$name}
        width auto
        
for $name, $i in rupture.scale-names
    if $name == 'xs'
        bootstrap-cols($name)
    else
        +above($name)
            bootstrap-cols($name)
    .col-{$name}-1,
    .col-{$name}-2,
    .col-{$name}-3,
    .col-{$name}-4,
    .col-{$name}-5,
    .col-{$name}-6,
    .col-{$name}-7,
    .col-{$name}-8,
    .col-{$name}-9,
    .col-{$name}-10,
    .col-{$name}-11,
    .col-{$name}-12,
    .col-{$name}
        min-height 1px
        set('padding-x', divide($horizontalPadding, 2))