.breadcrumbs
    position relative
    z-index 100
    margin 0px
    margin-bottom 35px
    list-style none
    padding 0px
    +below(xs)
        margin-bottom 25px
    &__item
        margin 0px
        padding 0px
        font-size 12px
        position relative
        line-height unit(19/@font-size, em)
        display inline-block
        color #c4c4c4
        margin-right 16px
        &:not(:last-child):after
            content: '/'
            position: absolute
            font-size: inherit
            font-weight: inherit
            right: -12px

.row-breadcrumbs
    display flex
    align-items center
    margin-bottom 35px
    +below(xs)
        margin-bottom 25px
    .breadcrumbs
        margin-bottom 0
        margin-left 35px
        +below(xs)
            margin-left 15px
        