.loading
    display none
    position fixed
    img 'loader.svg'
    top 50%
    left 50%
    margin-top -(img-height('loader.svg') / 2)
    margin-left -(img-width('loader.svg') / 2)
    z-index 99999